In [2]:
import pandas as pd
import numpy as np
import os
import datetime

# Eduction Info

In [3]:
education_df = pd.read_csv('../data/preprocessed-data/csv/educations.csv')
education_df.head()

,University,Degree,Date,User
0,Information Technology Institute (ITI),Nov 2021 - Jun 2022,NaN,%D9%90%D9%90amiraelmergawy
1,Ain Shams University,"Bachelor's degree, Computer Science",2016 - 2020,%D9%90%D9%90amiraelmergawy
2,Information Technology Institute (ITI),"Internship, Web Development using MEARN Stack",Dec 2021,-ezz
3,Al-Azhar University,Geophysics and Seismology,Sep 2015 - Aug 2019,-ezz
4,"Faculty of Petroleum and Mining Engineering, S...","Bachelor's degree, Petroleum Engineering",2015 - 2020,1212mohamedtaha

In [4]:
len(education_df)

1287

In [5]:
# lower case all university names
education_df['University'] = education_df['University'].str.lower()

# lower case all degree names
education_df['Degree'] = education_df['Degree'].str.lower()

# remove all rows with non degree values
education_df = education_df[education_df['Degree'].isna() == False]

In [6]:
# remove any row has university name include word 'school' igcse
education_df = education_df[(~education_df['University'].str.contains('school')) & (~education_df['University'].str.contains('igcse'))]
# remove any row has university name include word 'udacity'
education_df = education_df[~education_df['University'].str.contains('udacity')]

# remove any row has university name include word 'udemy'
education_df = education_df[~education_df['University'].str.contains('udemy')]

# remove any row has university name include word 'coursera'
education_df = education_df[~education_df['University'].str.contains('coursera')]

# remove any row has university name include word 'harvardx'
education_df = education_df[~education_df['University'].str.contains('harvardx')]

# remove any row has university name include word 'freecodecamp'
education_df = education_df[~education_df['University'].str.contains('freecodecamp')]

# remove any row has degree name include word 'High School'
education_df = education_df[~education_df['Degree'].str.contains('high school')]

In [7]:
education_df['university_name'] = None

    
special_universities = ['guc', 'miu', 'mti', 'modern academy', 'zewail city',
                        'future', 'thebes', 'el shorouk', 'institute']

education_df.loc[(education_df['university_name'].isna() &
                  (education_df['University'].str.contains('\(iti\)'))), 'university_name'] = '#iti'

education_df.loc[(education_df['university_name'].isna() &
                    education_df['University'].str.contains('german')), 'university_name'] = 'guc'

for university_name in special_universities:
    education_df.loc[(education_df['university_name'].isna() &
                      education_df['University'].str.contains(university_name)), 'university_name'] = university_name
    
university_names = ['cairo', 'ain shams', 'alexandria', 'helwan', 'zagazig', 'munich',
                     'mansoura', 'azhar', 'menoufia', 'october', 'minufiya', 'benha', 'delta',
                     'misr', 'nile', 'suez canal', 'sohag', 'fayoum', 'banha', 'sadat', 'tanta', 'ottawa']
for university_name in university_names:
    education_df.loc[(education_df['university_name'].isna() &
                      (education_df['University'].str.contains(university_name) &
                      education_df['University'].str.contains('university'))), 'university_name'] = university_name
    
education_df.loc[(education_df['university_name'].isna() &
                  (education_df['University'].str.contains('british')|
                   education_df['University'].str.contains('bue'))), 'university_name'] = 'bue'

In [8]:
education_df['faculty_name'] = None

education_df.loc[(education_df['University'].str.contains('computer')| 
                  education_df['Degree'].str.contains('computer')|
                  education_df['Degree'].str.contains('comupter')|
                  education_df['Degree'].str.contains('software')|
                  education_df['Degree'].str.contains('data')| 
                  education_df['Degree'].str.contains('artificial')|
                  education_df['Degree'].str.contains('information')|
                  education_df['Degree'].str.contains('technology')), 'faculty_name'] = 'computer'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['Degree'].str.contains('communication')|
                   education_df['Degree'].str.contains('electronic'))), 'faculty_name'] = 'electronic'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['Degree'].str.contains('biomedical'))), 'faculty_name'] = 'biomedical'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['Degree'].str.contains('mechatronic'))), 'faculty_name'] = 'mechatronic'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['University'].str.contains('civil')|
                   education_df['Degree'].str.contains('civil'))), 'faculty_name'] = 'civil'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['Degree'].str.contains('power') |
                   education_df['Degree'].str.contains('electrical')|
                   education_df['Degree'].str.contains('energy'))), 'faculty_name'] = 'power'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['Degree'].str.contains('mechanical'))), 'faculty_name'] = 'mechanical'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['University'].str.contains('petroleum')|
                   education_df['Degree'].str.contains('petroleum'))), 'faculty_name'] = 'petroleum'


education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['University'].str.contains('engineering')|
                   education_df['Degree'].str.contains('engineer')| 
                   education_df['Degree'].str.contains('engineering'))), 'faculty_name'] = 'engineering'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['Degree'].str.contains('business')|
                   education_df['Degree'].str.contains('commerce') |
                   education_df['Degree'].str.contains('accounting'))), 'faculty_name'] = 'commerce'

# law degree
education_df.loc[((education_df['faculty_name'].isna()) &
                    (education_df['Degree'].str.contains('law'))), 'faculty_name'] = 'law'

# science degree
education_df.loc[((education_df['faculty_name'].isna()) &
                    (education_df['Degree'].str.contains('science') |
                     education_df['Degree'].str.contains('chemistry') |
                     education_df['Degree'].str.contains('physics'))), 'faculty_name'] = 'science'
# language degree
education_df.loc[((education_df['faculty_name'].isna()) &
                    (education_df['Degree'].str.contains('language') |
                     education_df['Degree'].str.contains('linguistic') |
                     education_df['Degree'].str.contains('literature'))), 'faculty_name'] = 'language'
# art degree
education_df.loc[((education_df['faculty_name'].isna()) &
                    (education_df['Degree'].str.contains('art') |
                     education_df['Degree'].str.contains('design') |
                     education_df['Degree'].str.contains('graphic'))), 'faculty_name'] = 'art'

In [9]:
education_df[education_df['faculty_name'].isna()]

,University,Degree,Date,User,university_name,faculty_name
0,information technology institute (iti),nov 2021 - jun 2022,NaN,%D9%90%D9%90amiraelmergawy,#iti,None
2,information technology institute (iti),"internship, web development using mearn stack",Dec 2021,-ezz,#iti,None
6,information technology institute (iti),php full stack diploma,Mar 2021 - Aug 2021,3omarbadr,#iti,None
18,practicum usa,web development,2020 - 2020,aazmy,None,None
27,information technology institute (iti),"technical diploma, web &amp; mobile applicatio...",2017 - 2018,abdallasoliman,#iti,None
...,...,...,...,...,...,...
1228,information technology institute (iti),system administration,2020 - 2021,yasmina-salah,#iti,None
1243,zero to mastery academy,"complete react developer in 2021 (w/ redux, ho...",Jan 2021 - Feb 2021,yomna-raouf-392440168,None,None
1255,share - growing a new generation of leaders,"lum, mobility",2020 - 2021,youssef-abdelhameed,None,None
1270,"arab academy for science, technology and marit...",2015 - 2019,NaN,yusuf-abdelmoniem-b8934716a,None,None
1275,"victoria college, alexandria",mathematics,Sep 2002 - Jun 2013,zeyad-el-halawany-543753235,None,None

# Skills Info

In [10]:
skills_df = pd.read_csv('../data/preprocessed-data/csv/skills.csv')
skills_df['Skill1'] = skills_df['Skill1'].str.lower()
skills_df['Skill2'] = skills_df['Skill2'].str.lower()
skills_df['Skill3'] = skills_df['Skill3'].str.lower()


skills_df.head()

,User,Skill1,Skill2,Skill3
0,%D9%90%D9%90amiraelmergawy,programming,web development,java
1,-ezz,web development,javascript,node.js
2,1212mohamedtaha,natural language processing (nlp),datastage,teradata
3,3omarbadr,php,laravel,mysql
4,a-mohsen,google cloud platform (gcp),optimization,scalability

In [11]:
skills_df.fillna('*', inplace=True)

In [12]:
skills_columns = ['Skill1', 'Skill2', 'Skill3']

for column in skills_columns:
    skills_df.loc[skills_df[column].str.contains('front'), column] = 'front-end'
    skills_df.loc[skills_df[column].str.contains('back'), column] = 'back-end'
    skills_df.loc[skills_df[column].str.contains('full'), column] = 'full-stack'
    skills_df.loc[skills_df[column].str.contains('react'), column] = 'react'
    skills_df.loc[skills_df[column].str.contains('angular'), column] = 'angular'
    skills_df.loc[skills_df[column].str.contains('vue'), column] = 'vue'
    skills_df.loc[skills_df[column].str.contains('node'), column] = 'node'
    skills_df.loc[skills_df[column].str.contains('express'), column] = 'express'
    skills_df.loc[skills_df[column].str.contains('html'), column] = 'html'
    skills_df.loc[skills_df[column].str.contains('css'), column] = 'css'
    skills_df.loc[skills_df[column].str.contains('javascript'), column] = 'javascript'
    skills_df.loc[skills_df[column].str.contains('python'), column] = 'python'
    skills_df.loc[skills_df[column].str.contains('c\+\+'), column] = 'c++'
    skills_df.loc[skills_df[column].str.contains('sql'), column] = 'sql'

In [13]:
# get all skills
skills = []
for index, row in skills_df.iterrows():
    skills.append(row['Skill1'])
    skills.append(row['Skill2'])
    skills.append(row['Skill3'])

# get count of each skill
skills_count = {}
for skill in skills:
    if skill in skills_count:
        skills_count[skill] += 1
    else:
        skills_count[skill] = 1

# remove duplicates
skills = list(set(skills))

# remove nan
skills = [skill for skill in skills if str(skill) != 'nan']

In [14]:
len(skills)

622

# Experience Info

In [15]:
experience_df = pd.read_csv('../data/preprocessed-data/csv/experiences.csv')
experience_df['Title'] = experience_df['Title'].str.lower()
experience_df.head()

,User,CompanyUrl,Company,Title,EmploymentType,From,To,Duration,Location
0,%D9%90%D9%90amiraelmergawy,https://www.linkedin.com/company/294614/,Information Technology Institute (ITI),teaching assistant,Full-time,Aug 2022,Present,9.0,Egypt
1,%D9%90%D9%90amiraelmergawy,https://www.linkedin.com/company/15805726/,National Telecommunication Institute (NTI),mean stack developer,Internship,Nov 2020,Jan 2021,3.0,NaN
2,%D9%90%D9%90amiraelmergawy,https://www.linkedin.com/company/18305384/,الجهاز المركزي للتعبئة العامة و الاحصاء,software developer,Internship,Jul 2019,NaN,1.0,"Cairo, Egypt"
3,%D9%90%D9%90amiraelmergawy,https://www.linkedin.com/company/2205041/,(ISCC) Information Systems and Computers Center,software developer,Internship,Aug 2018,NaN,1.0,"Cairo, Egypt"
4,-ezz,https://www.linkedin.com/company/30101254/,sonono,software engineer,Full-time,Jan 2022,Present,16.0,"Basel, Switzerland"

In [16]:
len(experience_df)

3403

In [17]:
experience_df['title_tag'] = None

experience_df.loc[experience_df['title_tag'].isna() & 
                  (experience_df['Title'].str.contains('front')), 'title_tag'] = 'Frontend'

experience_df.loc[experience_df['title_tag'].isna() & 
                  ((experience_df['Title'].str.contains('back') |
                   experience_df['Title'].str.contains('php'))), 'title_tag'] = 'Backend'

experience_df.loc[(experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('full') |
                   experience_df['Title'].str.contains('mean stack') |
                   experience_df['Title'].str.contains('web') |
                   experience_df['Title'].str.contains('java script') | 
                   experience_df['Title'].str.contains('javascript'))), 'title_tag'] = 'Fullstack'

experience_df.loc[experience_df['title_tag'].isna() & 
                  ((experience_df['Title'].str.contains('devops') |
                   experience_df['Title'].str.contains('cloud') |
                   experience_df['Title'].str.contains('sysops'))), 'title_tag'] = 'DevOps'

experience_df.loc[experience_df['title_tag'].isna() &
                  ((experience_df['Title'].str.contains('embedded') | 
                   experience_df['Title'].str.contains('iot') |
                   experience_df['Title'].str.contains('verification'))), 'title_tag'] = 'Embedded'

experience_df.loc[(experience_df['title_tag'].isna() &
                   (experience_df['Title'].str.contains('mobile') |
                   experience_df['Title'].str.contains('native') |
                   experience_df['Title'].str.contains('ios') |
                   experience_df['Title'].str.contains('android') |
                   experience_df['Title'].str.contains('flutter') |
                   experience_df['Title'].str.contains('xamarin'))), 'title_tag'] = 'Mobile'

experience_df.loc[(experience_df['title_tag'].isna() &
                   experience_df['Title'].str.contains('security')), 'title_tag'] = 'Security'

experience_df.loc[(experience_df['title_tag'].isna() &
                   experience_df['Title'].str.contains('data')), 'title_tag'] = 'Data'

experience_df.loc[(experience_df['title_tag'].isna() &
                   (experience_df['Title'].str.contains('machine') | 
                   experience_df['Title'].str.contains('ml') | 
                   experience_df['Title'].str.contains('vision') |
                   experience_df['Title'].str.contains('nlp')|
                   experience_df['Title'].str.contains('intelligence') |
                   experience_df['Title'].str.contains('reinforcement') | 
                   experience_df['Title'].str.contains('deep') |
                   experience_df['Title'].str.contains('ai ')|
                   experience_df['Title'].str.contains('autonomous')|
                   experience_df['Title'].str.contains('autonomus'))), 'title_tag'] = 'AI'

experience_df.loc[(experience_df['title_tag'].isna() &
                   (experience_df['Title'].str.contains('it') |
                   experience_df['Title'].str.contains('admin') |
                   experience_df['Title'].str.contains('unix') |
                   experience_df['Title'].str.contains('linux') |
                   experience_df['Title'].str.contains('administrator') |
                   experience_df['Title'].str.contains('systems') |
                   experience_df['Title'].str.contains('network'))), 'title_tag'] = 'IT'

experience_df.loc[(experience_df['title_tag'].isna() &
                   (experience_df['Title'].str.contains('unity') |
                   experience_df['Title'].str.contains('game'))), 'title_tag'] = "Game" 

experience_df.loc[(experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('test') |
                   experience_df['Title'].str.contains('quality')|
                   experience_df['Title'].str.contains('automation') | 
                   experience_df['Title'].str.contains('qa') |
                   experience_df['Title'].str.contains('qc'))), 'title_tag'] = 'QA'

experience_df.loc[(experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('ux') | 
                   experience_df['Title'].str.contains('ui'))), 'title_tag'] = 'UI/UX'

experience_df.loc[experience_df['title_tag'].isna() & 
                  ((experience_df['Title'].str.contains('lead') |
                   experience_df['Title'].str.contains('manager'))), 'title_tag'] = 'Lead'



experience_df.loc[( experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('software') |
                    experience_df['Title'].str.contains('dotnet') |
                    experience_df['Title'].str.contains('python') |
                    experience_df['Title'].str.contains('.net') |
                    experience_df['Title'].str.contains('java') |
                    experience_df['Title'].str.contains('go') | 
                    experience_df['Title'].str.contains('oracle') |
                    experience_df['Title'].str.contains('node') |
                    experience_df['Title'].str.contains('c\+\+') | 
                    experience_df['Title'].str.contains('developer') )), 'title_tag'] = 'Software'

experience_df.loc[(experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('teaching') | 
                    experience_df['Title'].str.contains('teacher assistant')|
                   experience_df['Title'].str.contains('lecturer') |
                   experience_df['Title'].str.contains('professor') |
                   experience_df['Title'].str.contains('instructor') | 
                   experience_df['Title'].str.contains('research') |
                   experience_df['Title'].str.contains('master') )), 'title_tag'] = 'Teaching'

experience_df.loc[( experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('internship') |
                    experience_df['Title'].str.contains('intern') |
                    experience_df['Title'].str.contains('trainee'))), 'title_tag'] = 'Internship'

experience_df.loc[(experience_df['title_tag'].isna() & 
                   (experience_df['Title'].str.contains('student'))), 'title_tag'] = 'Student'

In [18]:
experience_df[experience_df['title_tag'].isna()]

,User,CompanyUrl,Company,Title,EmploymentType,From,To,Duration,Location,title_tag
6,-ezz,UNKNOWN,CEL - Consulting Engineering Bureau,senior geotechnical engineer,Full-time,Sep 2019,Aug 2020,12.0,Egypt,None
9,1212mohamedtaha,https://www.linkedin.com/company/2229028/,"The Translation Gate, LLC",english / arabic translator,Freelance,Jan 2021,Mar 2021,3.0,Remote,None
48,aashrafh,https://www.linkedin.com/company/10874637/,"Educative, Inc.",author,Contract,Sep 2021,Apr 2022,8.0,"Cairo, Egypt",None
95,abdelhakeem,https://www.linkedin.com/company/71259910/,MLH Fellowship,open source fellow,Internship,May 2022,Aug 2022,4.0,Remote,None
133,abdelrahman-ellethy-b840b3153,https://www.linkedin.com/company/23213/,Concentrix,customer service representative,Full-time,Apr 2022,May 2022,2.0,Egypt,None
...,...,...,...,...,...,...,...,...,...,...
3360,youssephahmed,https://www.linkedin.com/company/10910709/,ASU Racing\n ...,power train team member,NaN,Jun 2017,2018,8.0,NaN,None
3373,zeyad-el-halawany-543753235,https://www.linkedin.com/company/2669/,Valeo,apprentice,Apprenticeship,Jul 2022,NaN,1.0,NaN,None
3374,zeyad-el-halawany-543753235,https://www.linkedin.com/company/6538159/,Egyptian Armed Forces,soldier,Full-time,Oct 2021,Apr 2022,7.0,Egypt,None
3390,ziad-amerr,https://www.linkedin.com/company/79623580/,Frameless,filmmaker,Contract,May 2017,Jan 2020,33.0,Egypt,None
3399,zienabmuhammad,https://www.linkedin.com/company/13179685/,CAT Reloaded,human resources team member,NaN,Feb 2021,Present,27.0,NaN,None

In [19]:
# parsing dates
experience_df['From'] = pd.to_datetime(experience_df['From'])

In [20]:
experience_df['Company'] = experience_df['Company'].replace('Siemens EDA (Siemens Digital Industries Software)', 'Siemens EDA')
experience_df['Company'] = experience_df['Company'].replace('Siemens Digital Industries Software', 'Siemens EDA')

# Companies Data

In [21]:
df1 = pd.read_csv('../data/companies/results_00.csv')
df1.columns

Index(['name', 'logo', 'banner', 'description', 'tagLine', 'followerCount',
       'website', 'domain', 'location', 'companyAddress', 'phone', 'industry',
       'companySize', 'headquarters', 'founded', 'mainCompanyID', 'linkedinID',
       'salesNavigatorLink', 'employeesOnLinkedIn', 'companyName', 'query',
       'timestamp', 'companyUrl', 'specialties', 'error', 'isClaimable'],
      dtype='object')

# Volunteering Data

In [22]:
volunteer_df = pd.read_csv('../data/preprocessed-data/csv/volunteering.csv')
volunteer_df.head()

,Organization,Role,Date,User
0,Community Development Volunteer,CS Camp,Aug 2019 - Nov 2020 · 1 yr 4 mos,%D9%90%D9%90amiraelmergawy
1,Volunteer translator,Translators without Borders,May 2020 - Present · 3 yrs,1212mohamedtaha
2,Content creator at AAPG Suez blog,AAPG SU SC,Sep 2018 - Dec 2018 · 4 mos,1212mohamedtaha
3,Android Developer,AAPG SU SC,Aug 2017 - Apr 2019 · 1 yr 9 mos,1212mohamedtaha
4,Public Relations Specialist,Az-SENCS | معرض هندسة النظم والحاسبات,Dec 2015 - May 2018 · 2 yrs 6 mos,3omarbadr

In [23]:
# switch name of columns Role and Organization
volunteer_df.rename(columns={'Role': 'Organization', 'Organization': 'Role'}, inplace=True)
volunteer_df.head()

,Role,Organization,Date,User
0,Community Development Volunteer,CS Camp,Aug 2019 - Nov 2020 · 1 yr 4 mos,%D9%90%D9%90amiraelmergawy
1,Volunteer translator,Translators without Borders,May 2020 - Present · 3 yrs,1212mohamedtaha
2,Content creator at AAPG Suez blog,AAPG SU SC,Sep 2018 - Dec 2018 · 4 mos,1212mohamedtaha
3,Android Developer,AAPG SU SC,Aug 2017 - Apr 2019 · 1 yr 9 mos,1212mohamedtaha
4,Public Relations Specialist,Az-SENCS | معرض هندسة النظم والحاسبات,Dec 2015 - May 2018 · 2 yrs 6 mos,3omarbadr

In [24]:
volunteer_df.loc[(volunteer_df['Organization'].str.contains('IEEE')), 'Organization'] = 'IEEE'

### Save Data

In [25]:
experience_df.to_csv('../data/preprocessed-data/normalized csv/experiences.csv', index=False)
volunteer_df.to_csv('../data/preprocessed-data/normalized csv/volunteering.csv', index=False)
# save the data
education_df.to_csv('../data/preprocessed-data/normalized csv/educations.csv', index=False)
# save the data
skills_df.to_csv('../data/preprocessed-data/normalized csv/skills.csv', index=False)
experience_df.to_csv('../data/preprocessed-data/normalized csv/experiences.csv', index=False)