In [12]:
import pandas as pd
import numpy as np
import os

# Eduction Info

In [24]:
education_df = pd.read_csv('../data/preprocessed-data/csv/educations.csv')
education_df.head()

,University,Degree,Date,User
0,Information Technology Institute (ITI),Nov 2021 - Jun 2022,NaN,%D9%90%D9%90amiraelmergawy
1,Ain Shams University,"Bachelor's degree, Computer Science",2016 - 2020,%D9%90%D9%90amiraelmergawy
2,Information Technology Institute (ITI),"Internship, Web Development using MEARN Stack",Dec 2021,-ezz
3,Al-Azhar University,Geophysics and Seismology,Sep 2015 - Aug 2019,-ezz
4,"Faculty of Petroleum and Mining Engineering, S...","Bachelor's degree, Petroleum Engineering",2015 - 2020,1212mohamedtaha

In [25]:
len(education_df)

1287

In [53]:
# lower case all university names
education_df['University'] = education_df['University'].str.lower()

# lower case all degree names
education_df['Degree'] = education_df['Degree'].str.lower()

# remove all rows with non degree values
education_df = education_df[education_df['Degree'].isna() == False]

In [85]:
# remove any row has university name include word 'school'
education_df = education_df[(~education_df['University'].str.contains('school') | (education_df['University'].str.contains('school')
                                                                                   & education_df['University'].str.contains('university')))]
# remove any row has university name include word 'udacity'
education_df = education_df[~education_df['University'].str.contains('udacity')]

# remove any row has university name include word 'udemy'
education_df = education_df[~education_df['University'].str.contains('udemy')]

# remove any row has university name include word 'coursera'
education_df = education_df[~education_df['University'].str.contains('coursera')]

# remove any row has university name include word 'harvardx'
education_df = education_df[~education_df['University'].str.contains('harvardx')]

# remove any row has university name include word 'freecodecamp'
education_df = education_df[~education_df['University'].str.contains('freecodecamp')]

# remove any row has degree name include word 'High School'
education_df = education_df[~education_df['Degree'].str.contains('high school')]

In [93]:
education_df['university_name'] = None
university_names = ['cairo', 'ain shams', 'alexandria', 'helwan', 'zagazig', 'munich',
                     'mansoura', 'azhar', 'menoufia', 'october', 'minufiya', 'benha', 'delta',
                     'misr', 'nile', 'suez canal', 'sohag', 'fayoum', 'banha', 'sadat', 'tanta', 'ottawa']
for university_name in university_names:
    education_df.loc[(education_df['University'].str.contains(university_name) &
                      education_df['University'].str.contains('university')), 'university_name'] = university_name
special_universities = ['guc', 'miu', 'mti', 'iti', 'modern academy', 'zewail city', 'institute',
                        'future', 'thebes', 'el shorouk']
for university_name in special_universities:
    education_df.loc[education_df['University'].str.contains(university_name), 'university_name'] = university_name

In [111]:
education_df['faculty_name'] = None

education_df.loc[(education_df['University'].str.contains('computer')| 
                  education_df['Degree'].str.contains('computer')|
                  education_df['Degree'].str.contains('information technology')), 'faculty_name'] = 'computer'

education_df.loc[((education_df['faculty_name'].isna()) & 
                  (education_df['University'].str.contains('engineering')|
                   education_df['Degree'].str.contains('engineer')| 
                   education_df['Degree'].str.contains('engineering')|
                   education_df['Degree'].str.contains('communication')|
                   education_df['Degree'].str.contains('electronic'))), 'faculty_name'] = 'engineering'

In [113]:
education_df[education_df['faculty_name'].isna()]

,University,Degree,Date,User,university_name,faculty_name
0,information technology institute (iti),nov 2021 - jun 2022,NaN,%D9%90%D9%90amiraelmergawy,institute,None
2,information technology institute (iti),"internship, web development using mearn stack",Dec 2021,-ezz,institute,None
3,al-azhar university,geophysics and seismology,Sep 2015 - Aug 2019,-ezz,azhar,None
6,information technology institute (iti),php full stack diploma,Mar 2021 - Aug 2021,3omarbadr,institute,None
14,information technology institute (iti),"deploma, unix department",2007 - 2008,aabdelsattaar,institute,None
...,...,...,...,...,...,...
1257,reserve officers college,"lieutenant, military science and operational s...",Nov 2020 - Apr 2021,youssef-ali97,None,None
1260,dar eltarbia igcse,igcse,Sep 2012 - Sep 2014,youssef-mazen-2a6a441b4,None,None
1270,"arab academy for science, technology and marit...",2015 - 2019,NaN,yusuf-abdelmoniem-b8934716a,iti,None
1271,ain shams university,"master of science - ms, artificial intelligence",2020 - Jun 2023,yusuf-awad,ain shams,None
1275,"victoria college, alexandria",mathematics,Sep 2002 - Jun 2013,zeyad-el-halawany-543753235,None,None

In [114]:
# save the data
education_df.to_csv('educations.csv', index=False)

# Skills Info

In [144]:
skills_df = pd.read_csv('../data/preprocessed-data/csv/skills.csv')
skills_df['Skill1'] = skills_df['Skill1'].str.lower()
skills_df['Skill2'] = skills_df['Skill2'].str.lower()
skills_df['Skill3'] = skills_df['Skill3'].str.lower()


skills_df.head()

,User,Skill1,Skill2,Skill3
0,%D9%90%D9%90amiraelmergawy,programming,web development,java
1,-ezz,web development,javascript,node.js
2,1212mohamedtaha,natural language processing (nlp),datastage,teradata
3,3omarbadr,php,laravel,mysql
4,a-mohsen,google cloud platform (gcp),optimization,scalability

In [145]:
skills_df.fillna('*', inplace=True)

In [146]:
skills_columns = ['Skill1', 'Skill2', 'Skill3']

for column in skills_columns:
    skills_df.loc[skills_df[column].str.contains('front'), column] = 'front-end'
    skills_df.loc[skills_df[column].str.contains('back'), column] = 'back-end'
    skills_df.loc[skills_df[column].str.contains('full'), column] = 'full-stack'
    skills_df.loc[skills_df[column].str.contains('react'), column] = 'react'
    skills_df.loc[skills_df[column].str.contains('angular'), column] = 'angular'
    skills_df.loc[skills_df[column].str.contains('vue'), column] = 'vue'
    skills_df.loc[skills_df[column].str.contains('node'), column] = 'node'
    skills_df.loc[skills_df[column].str.contains('express'), column] = 'express'
    skills_df.loc[skills_df[column].str.contains('html'), column] = 'html'
    skills_df.loc[skills_df[column].str.contains('css'), column] = 'css'
    skills_df.loc[skills_df[column].str.contains('javascript'), column] = 'javascript'
    skills_df.loc[skills_df[column].str.contains('python'), column] = 'python'
    skills_df.loc[skills_df[column].str.contains('c\+\+'), column] = 'c++'
    skills_df.loc[skills_df[column].str.contains('sql'), column] = 'sql'

In [147]:
# get all skills
skills = []
for index, row in skills_df.iterrows():
    skills.append(row['Skill1'])
    skills.append(row['Skill2'])
    skills.append(row['Skill3'])

# get count of each skill
skills_count = {}
for skill in skills:
    if skill in skills_count:
        skills_count[skill] += 1
    else:
        skills_count[skill] = 1

# remove duplicates
skills = list(set(skills))

# remove nan
skills = [skill for skill in skills if str(skill) != 'nan']

In [148]:
len(skills)

622

In [149]:
# save the data
skills_df.to_csv('skills.csv', index=False)